
ud120-projects/
PCA主成分分析/scikit_learn_data/.DS_Store
tap4fun竞赛数据/.DS_Store
tap4fun竞赛数据/sub_sample.csv
tap4fun竞赛数据/tap4fun 数据字段解释.xlsx
tap4fun竞赛数据/tap_fun_test.csv
tap4fun竞赛数据/tap_fun_train.csv
tap4fun竞赛数据/~$tap4fun 数据字段解释.xlsx
